/* 默认情况下隐藏黑色标志 */
.black-logo {
  display: none;
}

/* 当父元素悬停时隐藏白色标志 */
.navbar:hover .white-logo {
  display: none;
}

/* 当父元素悬停时显示黑色标志 */
.navbar:hover .black-logo {
  display: block;
}

/* 导航中间菜单的文字颜色 */
.navbar:hover .navbar-center ul li {
  color: black;
}

/* 导航右侧svg的颜色 */
.navbar:hover svg {
  color: black;
}

/* 导航右侧svg徽章的颜色 */
.navbar:hover .badge {
  color: black;
}
